<!DOCTYPE html>
<html>
  <head>
    <title>Uberlist</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
    <div class="content">
      <div class="sidebar">
        <h1><%= link_to "Projects", projects_path %></h1>
        <%= render "projects/project_index" %>
      </div>
      <div class="main clearfix">
        <%= render "layouts/flash_container" %>
        <%= yield %>
      </div>
    </div>
    <footer>
      <p>Uberlist - Francesco Mari</p>
    </footer>
  </body>
</html>
