<!DOCTYPE html>
<html>
  <head>
    <title>Uberlist</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="">
        <a href="<%= root_path %>" class="site-title">UberList</a>
      </div>
    </header>
    <div class="content">
      <div class="sidebar">
        <h1>Welcome</h1>
        <p>
          <%= link_to "Login", new_user_session_path %> or <%= link_to "Register", new_user_registration_path %>
          to use Uberlist!
        </p>
      </div>
      <div class="main">
        <%= render "layouts/flash" %>
        <%= yield %>
      </div>
    </div>
    <footer>
      <p>Uberlist - Francesco Mari</p>
    </footer>
  </body>
</html>
